@import url("main.css");

* {
  box-sizing: border-box;
}

.blog {
  text-decoration: underline;
  color: blueviolet;
}

/* Container holding the image and the text */
.container {
  position: relative;
  display: flex;
  justify-content: center;
}

.text-block {
  position: absolute;
  top: 20px;
  bottom: 20px;
  background-color: white;
  color: navy;
  padding-left: 100px;
  padding-right: 100px;
}

.title {
  text-align: left;
}

.par {
  text-align: left;
}

.column.left {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}

.column.right {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}
